{% extends 'base.html.twig' %}
{% block title %}Create post{% endblock %}

{% block body %}
    <h1>Add a new post to the list</h1>

{{ form_start(form) }}

{{ form_row(form.title) }}
{{ form_row(form.description) }}
{{ form_row(form.visible) }}
<button type="submit"> Submit </button>

{{ form_end(form) }}


{% endblock %}